*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#667eea,#764ba2);
}

h1{
  color:white;
  margin-bottom:25px;
  letter-spacing:1px;
}

.container{
  background:white;
  padding:30px;
  border-radius:12px;
  box-shadow:0 10px 25px rgba(0,0,0,0.25);
  width:300px;
  text-align:center;
}

/* input + button */
input{
  width:65%;
  padding:10px;
  border:none;
  border-radius:8px;
  outline:none;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

#addbtn{
  padding:10px 15px;
  border:none;
  border-radius:8px;
  background:#4CAF50;
  color:white;
  cursor:pointer;
  margin-left:5px;
  transition:0.2s;
}

#addbtn:hover{
  transform:scale(1.05);
}

/* task list */
#list{
  margin-top:20px;
  display:flex;
  flex-direction:column;
  gap:10px;
}

/* each task */
.task{
  background:#f5f5f5;
  padding:10px;
  border-radius:8px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  transition:0.2s;
}

.task:hover{
  background:#eaeaea;
}

/* text */
.task span{
  cursor:pointer;
}

/* completed task */
.line-through{
  text-decoration:line-through;
  opacity:0.6;
}

/* delete button */
.task button{
  background:#ff4d4d;
  border:none;
  color:white;
  padding:5px 10px;
  border-radius:6px;
  cursor:pointer;
  font-size:12px;
}

.task button:hover{
  background:#e60000;
}